openapi: 3.0.3
info:
  title: Clarifeye Platform API — Public API
  description: |
    Forward-facing, supported REST API for new integrators of the Clarifeye Platform.

    Covers the curated public surface: authentication, knowledge management
    (documents), users & teams, signals, and tool execution. New integrations
    should target these endpoints.

    ## Authentication
    All endpoints require authentication. Include the Authorization header in every request using either format:
    - `Authorization: Token <token_key>`
    - `Authorization: Bearer <token_key>`
  version: 1.0.0
  contact:
    name: Clarifeye Support
servers:
- url: https://eu.app.clarifeye.ai/api/v1
  description: EU
- url: https://us.app.clarifeye.ai/api/v1
  description: US
security:
- BearerAuth: []
- TokenAuth: []
tags:
- name: Users
  description: Manage users within a project
- name: Invitations
  description: Manage project invitations
- name: Documents
  description: Manage documents within a project
- name: Signals
  description: Submit signals about the project's content for domain experts to review
- name: Tools
  description: Execute configured AI tools with custom parameters
- name: Interviews
  description: Assign and review structured interview conversations
paths:
  /projects/{project_id}/users/:
    get:
      tags:
      - Users
      summary: List project users
      description: Retrieve all users with access to a project.
      operationId: listProjectUsers
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: search
        in: query
        description: Filter by email (case-insensitive partial match)
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProjectPermission'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/users/remove-by-email/:
    post:
      tags:
      - Users
      summary: Remove user by email
      description: Remove a user from the project using their email address. Users cannot remove themselves.
      operationId: removeUserByEmail
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user to remove
                  example: user@example.com
      responses:
        '204':
          description: User successfully removed
        '400':
          description: Bad request - user not found or trying to remove yourself
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/users/{permission_id}/:
    patch:
      tags:
      - Users
      summary: Update user permissions
      description: Update a user's permissions on the project.
      operationId: updateUserPermissions
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: permission_id
        in: path
        required: true
        description: UUID of the permission record
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                permissions:
                  type: array
                  items:
                    $ref: '#/components/schemas/PermissionType'
                  example:
                  - CAN_VIEW_DATA
                  - CAN_PERFORM_ADMIN_ACTIONS
                profile:
                  allOf:
                  - $ref: '#/components/schemas/ProjectProfile'
                  description: Update the user's profile on the project.
      responses:
        '200':
          description: Permissions updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPermission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/invites/:
    get:
      tags:
      - Invitations
      summary: List invitations
      description: Retrieve all invitations for a project with optional filtering by status.
      operationId: listInvitations
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: status
        in: query
        description: Filter by invitation status
        schema:
          $ref: '#/components/schemas/InvitationStatus'
      - name: search
        in: query
        description: Filter by email (case-insensitive partial match)
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/ProjectInvite'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/invites/invite/:
    post:
      tags:
      - Invitations
      summary: Invite user to project
      description: |
        Invite a user to join the project.
        - For new users (not registered): Creates a pending invite and sends an email.
        - For existing users: Automatically accepts the invite and sends a notification.
      operationId: inviteUser
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - permissions
              properties:
                email:
                  type: string
                  format: email
                  description: Email address of the user to invite
                  example: user@example.com
                permissions:
                  type: array
                  items:
                    $ref: '#/components/schemas/PermissionType'
                  description: Permissions to grant to the user
                  example:
                  - CAN_VIEW_DATA
                  - CAN_PERFORM_ADMIN_ACTIONS
                profile:
                  allOf:
                  - $ref: '#/components/schemas/ProjectProfile'
                  description: |
                    Profile to assign to the invited user on the project.
                    Defaults to `contributor` when omitted.
      responses:
        '201':
          description: Invitation created successfully
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/ProjectInvite'
                - type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - new_user
                      - existing_user
                      description: |
                        - `new_user`: User not registered, invite is pending
                        - `existing_user`: User exists, invite auto-accepted
        '400':
          description: Bad request - invalid permissions, user already invited, or user already has access
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/invites/{invite_id}/:
    delete:
      tags:
      - Invitations
      summary: Cancel invitation
      description: Cancel a pending invitation. Only pending invitations can be cancelled.
      operationId: cancelInvitation
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: invite_id
        in: path
        required: true
        description: UUID of the invitation
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Invitation cancelled successfully
        '400':
          description: Cannot cancel non-pending invitation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/documents/indexing-status/:
    get:
      tags:
      - Documents
      summary: Get document indexing status
      description: |
        Returns the indexing status for each `(document, extractor node)` pair in the project.
        Callers poll this endpoint until documents reach `active` (queryable by AI) or `deleted`.

        **States:**
        | Value | Meaning |
        |---|---|
        | `created` | Document saved, processing not yet started |
        | `indexing` | Processing pipeline running |
        | `ready_to_publish` | Pipeline done, waiting for publish |
        | `active` | Published to search backends — queryable by AI |
        | `failed` | Document could not be parsed; will not be retried automatically |
        | `pending_delete` | Delete requested, blocking new pipeline steps |
        | `deleting` | Warehouse rows being cleared |
        | `deleted` | Fully removed from warehouse and search indexes |
      operationId: getDocumentIndexingStatus
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: document_ids
        in: query
        required: false
        description: |
          Comma-separated list of document UUIDs to filter the response.
          When omitted, returns statuses for all documents in the project.
        schema:
          type: string
        example: "550e8400-e29b-41d4-a716-446655440000,660e8400-e29b-41d4-a716-446655440001"
      responses:
        '200':
          description: Indexing statuses for the requested documents
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    document_id:
                      type: string
                      format: uuid
                    extractor_type:
                      type: string
                      description: Extractor node type (e.g. "TagExtractor", "ObjectExtractor")
                    extractor_id:
                      type: string
                      format: uuid
                    extractor_version_id:
                      type: string
                      format: uuid
                    status:
                      type: string
                      enum:
                        - created
                        - indexing
                        - ready_to_publish
                        - active
                        - failed
                        - pending_delete
                        - deleting
                        - deleted
              example:
              - document_id: "550e8400-e29b-41d4-a716-446655440000"
                extractor_type: "TagExtractor"
                extractor_id: "660e8400-e29b-41d4-a716-446655440001"
                extractor_version_id: "770e8400-e29b-41d4-a716-446655440002"
                status: "active"
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/documents/bulk-upload/:
    post:
      tags:
      - Documents
      summary: Bulk upload documents
      description: |
        Upload multiple documents at once. Optionally skip the automatic parsing pipeline.

        Per-file metadata can be attached at upload time via the `files_metadata` field so
        documents arrive with their metadata already set (no follow-up `metadata-add` calls
        needed).

        **For `auto_sync` projects:** Documents are queued for processing asynchronously —
        no pipeline is spawned inline. Poll `/documents/indexing-status/` to track progress.

        **For `classic` projects:** Behaves as before — pipeline is optionally spawned inline.
      operationId: bulkUploadDocuments
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - files
              properties:
                files:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: One or more files to upload
                files_metadata:
                  type: string
                  description: |
                    Optional JSON-encoded array of per-file metadata, aligned by position with
                    `files`. Each entry is itself a list of `[key, value]` string pairs for the
                    corresponding file, e.g.
                    `[[["author","Alice"],["year","2024"]], [["author","Bob"]]]`.

                    The array length **must** equal the number of uploaded files. If the lengths
                    do not match, all metadata is silently ignored and the files are uploaded
                    without any metadata.
                skip_parsing:
                  type: string
                  enum:
                  - 'true'
                  - 'false'
                  default: 'false'
                  description: Set to "true" to skip automatic parsing pipeline
      responses:
        '201':
          description: Documents uploaded successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Document'
        '400':
          description: Bad request - no files uploaded or invalid file format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/documents/{document_id}/:
    delete:
      tags:
      - Documents
      summary: Delete document
      description: |
        Delete a document from the project. Deletion is always asynchronous.

        **For `auto_sync` projects:** The document is queued for deletion. All associated
        warehouse data, search indexes, and graph nodes are removed asynchronously.
        Poll `/documents/indexing-status/` to confirm the document reaches `deleted`.

        **For `classic` projects:** The document is soft-deleted and a background
        task removes warehouse rows.
      operationId: deleteDocument
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/DocumentId'
      responses:
        '204':
          description: Document deletion initiated
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/documents/get-without-file/:
    get:
      tags:
      - Documents
      summary: List documents without file data
      description: Retrieve document metadata without file URLs for faster response times.
      operationId: listDocumentsWithoutFile
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/DocumentMinimal'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/documents/filter-by-tag/:
    post:
      tags:
      - Documents
      summary: Filter documents by tag values
      description: |
        Retrieve documents that match one or more tag values (case-insensitive).
        Pass tag values as a JSON array to avoid delimiter issues with values containing commas.
      operationId: filterDocumentsByTag
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tag_values
              properties:
                tag_values:
                  type: array
                  items:
                    type: string
                  description: List of tag values to filter by (OR logic, case-insensitive).
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/DocumentMinimal'
        '400':
          description: Missing or invalid tag_values array
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/documents/filter-by-metadata/:
    post:
      tags:
      - Documents
      summary: Filter documents by metadata values
      description: |
        Retrieve documents whose metadata contains one or more of the given values (case-insensitive, OR logic).

        Document metadata is stored as a list of `[key, value]` pairs. This endpoint matches against the
        **value** part of each pair. For example, if a document has metadata `[["category", "Finance"]]`,
        passing `metadata_values: ["finance"]` will match it.

        > **Note:** This endpoint requires documents to have metadata set. See the metadata management
        > endpoints below to add metadata to documents.
      operationId: filterDocumentsByMetadata
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - metadata_values
              properties:
                metadata_values:
                  type: array
                  items:
                    type: string
                  description: List of metadata values to filter by (OR logic, case-insensitive).
            example:
              metadata_values:
              - Finance
              - Legal
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/DocumentMinimal'
        '400':
          description: Missing or invalid metadata_values array
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/signals/:
    get:
      tags:
      - Signals
      summary: List signals
      description: |-
        Retrieve all signals for a project with optional filtering.

        **Access Control:**
        - Admins see all signals in the project
        - Regular users see only signals they submitted

        **Sorting:**
        - Results are ordered by most recently updated first (`updated_at` field)

        **Note:** For grouped views by conversation, use `/projects/{project_id}/signals/grouped_by_conversation/`
      operationId: listSignals
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: status
        in: query
        description: Filter by signal status
        schema:
          $ref: '#/components/schemas/SignalStatus'
      - name: is_positive
        in: query
        description: Filter by sentiment
        schema:
          type: boolean
      - name: search
        in: query
        description: Search in signal text or user email (case-insensitive)
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      description: Array of signal objects
                      items:
                        $ref: '#/components/schemas/Signal'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    post:
      tags:
      - Signals
      summary: Submit a signal
      description: |-
        Submit a signal about the project's content: the signal text itself,
        plus optional `context.additional_details` with extra context for the
        reviewer. The signal shows up in the review UI for domain experts.

        ## Signal Types

        | Type | is_positive Value | Description |
        |------|-------------------|-------------|
        | Thumbs up | `true` | Positive signal |
        | Thumbs down | `false` | Negative signal |
        | Neutral | `null` | Neutral or no sentiment |
      operationId: submitSignal
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - context
              properties:
                feedback:
                  type: string
                  description: The signal text
                  example: We need to cover the EU refund rules in the knowledge base
                context:
                  type: object
                  additionalProperties: true
                  properties:
                    additional_details:
                      type: string
                      description: |-
                        Optional extra context provided alongside the signal.
                        Displayed in the review UI.
                is_positive:
                  type: boolean
                  nullable: true
                  description: |
                    - `true`: Positive signal (thumbs up)
                    - `false`: Negative signal (thumbs down)
                    - `null`: Neutral signal
                  example: false
            example:
              feedback: We need to cover the EU refund rules in the knowledge base
              is_positive: false
              context:
                additional_details: Several customer calls last week asked about
                  EU refunds and we had nothing to point them to.
      responses:
        '201':
          description: Signal submitted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signal'
              example:
                id: 8f14e45f-ceea-467f-a8d9-23ad7f6b3a90
                created_at: '2026-06-11T09:30:00Z'
                updated_at: '2026-06-11T09:30:00Z'
                given_by:
                  id: 1b9d6bcd-bbfd-4b2d-9b5d-ab8dfbbd4bed
                  email: expert@example.com
                status: to_review
                feedback: We need to cover the EU refund rules in the knowledge base
                context:
                  additional_details: Several customer calls last week asked about
                    EU refunds and we had nothing to point them to.
                is_positive: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /projects/{project_id}/signals/{signal_id}/:
    patch:
      tags:
      - Signals
      summary: Update signal status
      description: |-
        Mark a signal as reviewed or update other fields.

        **Access Control:**
        - Admins can update any signal
        - Regular users can only update signals they submitted
      operationId: updateSignal
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: signal_id
        in: path
        required: true
        description: UUID of the signal
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  $ref: '#/components/schemas/SignalStatus'
                feedback:
                  type: string
                  description: Updated signal text
                is_positive:
                  type: boolean
                  nullable: true
                  description: Updated sentiment
      responses:
        '200':
          description: Signal updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Signal'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Forbidden - user does not own this signal
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/tools/:
    get:
      tags:
      - Tools
      summary: List tools
      description: |
        List all tools available to the project, including tools owned by the
        project (`category: local`) and tools imported from other projects
        (`category: imported`).

        Use the returned `id` together with
        [`getToolParameters`](#operation/getToolParameters) to discover the
        request body schema for a given tool, then call
        [`runTool`](#operation/runTool) to execute it.
      operationId: listTools
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: tool_type
        in: query
        description: Filter by tool type
        schema:
          $ref: '#/components/schemas/ToolType'
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/Tool'
              example:
                count: 2
                next: null
                previous: null
                results:
                - id: 4f4a0a36-2c3d-4e6c-9a3b-2b1f0f1a2c11
                  name: Search financial chunks
                  description: Semantic search over chunks tagged as financial reports.
                  tool_type: retrieval
                  retrieval_mode: semantic-chunks
                  category: local
                  owner_project_id: 9c2b1c0a-7a1d-4d1d-8e3a-1d2b3c4d5e6f
                  owner_project_name: Finance Analytics
                  readonly: false
                  created_at: '2026-04-12T10:21:33Z'
                  updated_at: '2026-05-02T08:44:01Z'
                - id: c1a7f2e0-6e8f-4f0a-9d11-8b6e5d4c3b2a
                  name: Document retrieval (annual reports)
                  description: Retrieve documents by name or tag.
                  tool_type: document_retrieval
                  retrieval_mode: semantic-chunks
                  category: imported
                  owner_project_id: 11111111-2222-3333-4444-555555555555
                  owner_project_name: Shared Tools
                  readonly: true
                  created_at: '2026-03-08T15:02:11Z'
                  updated_at: '2026-04-22T11:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/tools/{tool_id}/parameters/:
    get:
      tags:
      - Tools
      summary: Get tool parameters schema
      description: |
        Return the JSON schema describing the parameters accepted by
        [`runTool`](#operation/runTool) for this tool.

        The schema is a list of parameter specs (`id`, `type`, `description`,
        `required`, and an optional `default`). The exact list depends on the
        tool's `tool_type` and configuration — for example a retrieval tool
        configured with `auto_include` tags exposes an extra `included_tags`
        parameter.

        Use the `id` of each entry as the key in the JSON body sent to
        [`runTool`](#operation/runTool).
      operationId: getToolParameters
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ToolId'
      responses:
        '200':
          description: JSON schema describing the tool's run parameters
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ToolParameterSpec'
              examples:
                retrieval:
                  summary: Retrieval tool (search on chunks)
                  value:
                  - id: query
                    type: string
                    description: Query to search for chunks.
                    default: ''
                    required: false
                  - id: top_k
                    type: integer
                    description: 'Number of objects to retrieve. For initial search use the default top_k value : 10.'
                    default: 10
                    required: false
                document_retrieval:
                  summary: Document retrieval tool
                  value:
                  - id: mode
                    type: string
                    description: The mode to use. Can be name, content, tag, id.
                    required: true
                  - id: document_name_search_string
                    type: string
                    description: Search string within document names
                    required: true
                  - id: search_query_within_documents
                    type: string
                    description: The text used to identify parts of documents
                    required: true
                  - id: document_ids
                    type: string
                    description: A comma-separated list of ID strings (uuid) of documents to search within
                    required: true
                  - id: tag_list
                    type: string
                    description: A comma-separated list of tag IDs to search for documents
                    required: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/tools/{tool_id}/run/:
    post:
      tags:
      - Tools
      summary: Run a tool
      description: |
        Execute a configured tool with provided parameters.

        The request body varies based on the tool type. Call
        [`getToolParameters`](#operation/getToolParameters) first to discover
        the exact parameter schema for a given tool — most retrieval tools
        accept `query` and `top_k`, but other tool types (e.g.
        `document_retrieval`) expect different fields.
      operationId: runTool
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ToolId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolRunRequest'
            examples:
              retrieval:
                summary: Retrieval tool example
                value:
                  query: What are the key findings about revenue growth?
                  top_k: 10
              document_retrieval:
                summary: Document retrieval example
                value:
                  query: financial reports
                  top_k: 5
      responses:
        '200':
          description: Tool execution successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolRunResponse'
        '400':
          description: Invalid syntax or query errors
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: Tool or index not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolError'
        '500':
          description: Database or internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolError'
  /projects/{project_id}/interviews/:
    get:
      tags:
      - Interviews
      summary: List interviews
      description: |
        Retrieve interviews for a project.

        - Admins see all interviews in the project.
        - Other members see only interviews assigned to them or that they created.
      operationId: listInterviews
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: assigned_to
        in: query
        description: Set to "me" to return only interviews assigned to (or created by) the requesting user.
        schema:
          type: string
          enum:
          - me
      - name: status
        in: query
        description: Filter by status. Comma-separated for multiple values (e.g. "pending,in_progress").
        schema:
          type: string
      - name: text
        in: query
        description: Case-insensitive search over the interview name and transcript.
        schema:
          type: string
      - $ref: '#/components/parameters/Limit'
      - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                - $ref: '#/components/schemas/PaginatedResponse'
                - type: object
                  properties:
                    results:
                      type: array
                      items:
                        $ref: '#/components/schemas/InterviewListItem'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/interviews/assign/:
    post:
      tags:
      - Interviews
      summary: Create and assign interviews
      description: |
        Create and assign one interview per assignee. **Admin only.**

        Provide existing project members via `assignee_ids` and/or new people to
        invite via `invite_emails` (at least one is required). Invitees are added
        as non-admin Contributors. A separate interview is created for each
        assignee and the response is the list of created interviews.

        `write_scope` defaults to `local`. A `global` write scope requires every
        assignee to already be a project admin and cannot be combined with
        `invite_emails`.
      operationId: assignInterviews
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                assignee_ids:
                  type: array
                  description: UUIDs of existing project members to interview (must be tech/contributor members).
                  items:
                    type: string
                    format: uuid
                invite_emails:
                  type: array
                  description: Email addresses of people to invite on the fly as non-admin Contributors and assign an interview.
                  items:
                    type: string
                    format: email
                topic:
                  type: string
                  description: The interview focus. Used to auto-name the interview and seed its first question.
                write_scope:
                  type: string
                  description: Whether interview edits stay local to the conversation or write to the shared knowledge store.
                  enum:
                  - local
                  - global
                  default: local
            example:
              assignee_ids:
              - 3fa85f64-5717-4562-b3fc-2c963f66afa6
              invite_emails:
              - newperson@example.com
              topic: Q4 planning and roadmap review
              write_scope: local
      responses:
        '201':
          description: Interviews created and assigned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Interview'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/interviews/{interview_id}/:
    get:
      tags:
      - Interviews
      summary: Retrieve interview content
      description: |
        Retrieve a single interview with its full content, including the
        complete `chat_history` transcript and `chat_memory`.

        Non-admins can only retrieve interviews assigned to them or that they
        created; admins can retrieve any interview in the project.
      operationId: getInterview
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - name: interview_id
        in: path
        required: true
        description: UUID of the interview
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Interview'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /projects/{project_id}/playground-conversations/{conversation_id}/:
    get:
      tags:
      - Conversations
      summary: Get conversation
      description: Retrieve a conversation with its complete chat history.
      operationId: getConversation
      parameters:
      - $ref: '#/components/parameters/ProjectId'
      - $ref: '#/components/parameters/ConversationId'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'Use Authorization: Bearer <token>'
    TokenAuth:
      type: apiKey
      in: header
      name: Authorization
      description: 'Use Authorization: Token <token>'
  parameters:
    ProjectId:
      name: project_id
      in: path
      required: true
      description: UUID of the project
      schema:
        type: string
        format: uuid
    DocumentId:
      name: document_id
      in: path
      required: true
      description: UUID of the document
      schema:
        type: string
        format: uuid
    Limit:
      name: limit
      in: query
      description: Maximum number of results per page
      schema:
        type: integer
        default: 100
        minimum: 1
        maximum: 1000
    Offset:
      name: offset
      in: query
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
        minimum: 0
    ToolId:
      name: tool_id
      in: path
      required: true
      description: UUID of the tool
      schema:
        type: string
        format: uuid
    ConversationId:
      name: conversation_id
      in: path
      required: true
      description: UUID of the conversation
      schema:
        type: string
        format: uuid
  schemas:
    Interview:
      type: object
      description: A structured interview conversation, including its full transcript.
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          nullable: true
          description: Interview title (auto-generated from the topic when not provided).
        created_by:
          type: string
          format: uuid
          readOnly: true
          description: UUID of the user who created the interview.
        type:
          type: string
          description: Conversation type. Always "interview" for interviews.
        type_additional_parameters:
          type: object
          description: Free-form parameters associated with the conversation type.
        chat_history:
          type: array
          description: Ordered list of transcript entries (messages, tool calls, etc.).
          items:
            type: object
        chat_memory:
          type: object
          description: Assistant memory state accumulated over the conversation.
        local_documents:
          type: array
          readOnly: true
          description: UUIDs of documents scoped locally to this interview.
          items:
            type: string
            format: uuid
        assigned_to:
          type: string
          format: uuid
          nullable: true
          readOnly: true
          description: UUID of the assigned user (null while a pending invite has not yet joined).
        assigned_by:
          type: string
          format: uuid
          nullable: true
          readOnly: true
          description: UUID of the user who created the assignment.
        assigned_to_email:
          type: string
          format: email
          nullable: true
          readOnly: true
          description: Assignee email, falling back to the invite email for not-yet-joined invitees.
        assigned_by_email:
          type: string
          format: email
          nullable: true
          readOnly: true
        is_pending_invite:
          type: boolean
          readOnly: true
          description: True when assigned to someone who has not yet joined the project.
        status:
          type: string
          readOnly: true
          enum:
          - pending
          - in_progress
          - completed
        write_scope:
          type: string
          enum:
          - local
          - global
          description: Whether edits stay local to the conversation or write to the shared knowledge store.
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    InterviewListItem:
      type: object
      description: Lightweight interview representation used in list responses (omits the transcript).
      properties:
        id:
          type: string
          format: uuid
          readOnly: true
        name:
          type: string
          nullable: true
        created_by:
          type: string
          format: uuid
          readOnly: true
        created_by_email:
          type: string
          format: email
          nullable: true
          readOnly: true
        type:
          type: string
        assigned_to:
          type: string
          format: uuid
          nullable: true
          readOnly: true
        assigned_by:
          type: string
          format: uuid
          nullable: true
          readOnly: true
        assigned_to_email:
          type: string
          format: email
          nullable: true
          readOnly: true
        assigned_by_email:
          type: string
          format: email
          nullable: true
          readOnly: true
        is_pending_invite:
          type: boolean
          readOnly: true
        status:
          type: string
          readOnly: true
          enum:
          - pending
          - in_progress
          - completed
        write_scope:
          type: string
          enum:
          - local
          - global
        first_message_preview:
          type: string
          description: Truncated preview of the first user message in the transcript.
        message_count:
          type: integer
          description: Number of conversational messages in the transcript.
        created_at:
          type: string
          format: date-time
          readOnly: true
        updated_at:
          type: string
          format: date-time
          readOnly: true
    PaginatedResponse:
      type: object
      properties:
        count:
          type: integer
          description: Total number of results
        next:
          type: string
          format: uri
          nullable: true
          description: URL to next page of results
        previous:
          type: string
          format: uri
          nullable: true
          description: URL to previous page of results
        results:
          type: array
          items: {}
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
      example:
        error: User not found
    ValidationError:
      type: object
      additionalProperties:
        type: array
        items:
          type: string
      example:
        email:
        - This field is required.
    PermissionType:
      type: string
      enum:
      - CAN_PERFORM_ADMIN_ACTIONS
      - CAN_VIEW_DATA
      - CAN_IMPERSONATE_OTHER_USERS
      description: |
        - `CAN_PERFORM_ADMIN_ACTIONS`: Full administrative access
        - `CAN_VIEW_DATA`: Read-only access to project data
        - `CAN_IMPERSONATE_OTHER_USERS`: Impersonate other users in API calls (contact Clarifeye to enable)
    ProjectProfile:
      type: string
      enum:
      - tech
      - contributor
      - user
      default: contributor
      description: |
        Profile of the user on the project. The profile shapes the UI surface a
        user sees (sidebar, available views) and complements the fine-grained
        `permissions` list.

        - `tech`: Technical profile with access to advanced/technical interfaces
        - `contributor`: Default profile for users who contribute to the project
        - `user`: End-user profile with the most restricted UI surface
    ToolType:
      type: string
      enum:
      - retrieval
      - math
      - document_retrieval
      - data_statistics
      - websearch
      - sub_agent
      description: |
        Category of tool, which controls how it is executed and what
        parameters it accepts. The `retrieval` family additionally exposes a
        `retrieval_mode` field (e.g. `semantic-chunks`, `semantic-objects`,
        `templated-query`).
    Tool:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        tool_type:
          $ref: '#/components/schemas/ToolType'
        retrieval_mode:
          type: string
          description: |
            For tools with `tool_type: retrieval`, the specific retrieval
            variant (e.g. `semantic-chunks`, `semantic-objects`,
            `templated-query`). Ignored for other tool types.
        category:
          type: string
          enum:
          - local
          - imported
          description: |
            - `local`: tool is owned by the current project.
            - `imported`: tool is owned by another project and exported into the current one.
        owner_project_id:
          type: string
          format: uuid
          description: UUID of the project that owns the tool.
        owner_project_name:
          type: string
          nullable: true
          description: Name of the project that owns the tool.
        readonly:
          type: boolean
          description: When true, the tool cannot be modified through the API.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      example:
        id: 4f4a0a36-2c3d-4e6c-9a3b-2b1f0f1a2c11
        name: Search financial chunks
        description: Semantic search over chunks tagged as financial reports.
        tool_type: retrieval
        retrieval_mode: semantic-chunks
        category: local
        owner_project_id: 9c2b1c0a-7a1d-4d1d-8e3a-1d2b3c4d5e6f
        owner_project_name: Finance Analytics
        readonly: false
        created_at: '2026-04-12T10:21:33Z'
        updated_at: '2026-05-02T08:44:01Z'
    ToolParameterSpec:
      type: object
      description: |
        Specification for a single parameter accepted by a tool's `run`
        endpoint. Use `id` as the key in the JSON body sent to
        [`runTool`](#operation/runTool).
      properties:
        id:
          type: string
          description: Parameter name (used as the JSON key when calling `runTool`).
        type:
          type: string
          enum:
          - string
          - integer
          - number
          - boolean
          - array
          - object
          description: JSON type of the parameter value.
        description:
          type: string
          description: Human-readable description of the parameter.
        required:
          type: boolean
          description: Whether the parameter must be supplied when running the tool.
        default:
          description: Default value when the parameter is omitted. Type matches `type`.
      example:
        id: query
        type: string
        description: The search query for the tool.
        required: false
        default: ''
    ToolRunRequest:
      type: object
      description: |
        Request body for running a tool. Parameters vary by tool type.
        Most tools accept a `query` parameter and optional `top_k` for result count.
      properties:
        query:
          type: string
          description: The search query or input for the tool
          example: What are the key findings about revenue growth?
        top_k:
          type: integer
          description: Maximum number of results to return
          default: 10
          example: 10
      additionalProperties: true
    ToolRunResponse:
      type: array
      description: Array of tool execution results
      items:
        type: object
        description: Individual result object (structure varies by tool type)
        additionalProperties: true
    ToolError:
      type: object
      description: Error response from tool execution
      properties:
        error_type:
          type: string
          description: Category of the error
          example: syntax_error
        error_code:
          type: string
          description: Specific error code
          example: INVALID_QUERY
        status:
          type: string
          description: Error status
          example: error
        message:
          type: string
          description: Human-readable error message
          example: Invalid query syntax
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        date_joined:
          type: string
          format: date-time
    ProjectPermission:
      type: object
      properties:
        id:
          type: string
          format: uuid
        user:
          $ref: '#/components/schemas/User'
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionType'
        profile:
          $ref: '#/components/schemas/ProjectProfile'
    InvitationStatus:
      type: string
      enum:
      - pending
      - accepted
      - cancelled
      description: |
        - `pending`: Invitation sent, awaiting response
        - `accepted`: User accepted the invitation
        - `cancelled`: Invitation was cancelled
    ProjectInvite:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        permissions:
          type: array
          items:
            $ref: '#/components/schemas/PermissionType'
        profile:
          $ref: '#/components/schemas/ProjectProfile'
        status:
          $ref: '#/components/schemas/InvitationStatus'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        invited_by:
          $ref: '#/components/schemas/User'
    Document:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Document filename
        file:
          type: string
          format: uri
          description: URL to the document file
        content_type:
          type: string
          description: MIME type of the document
          example: application/pdf
        computed_pdf_file:
          type: string
          format: uri
          nullable: true
          description: URL to generated PDF version (if applicable)
        source:
          type: string
          enum:
          - upload
          - connector
          description: Origin of the document
        source_metadata:
          type: object
          description: Metadata about the document source
        page_count:
          type: integer
          nullable: true
          description: Number of pages in the document
        file_size:
          type: integer
          nullable: true
          description: File size in bytes
        metadata:
          type: array
          description: |
            List of key-value metadata pairs. Each element is a two-element array `[key, value]`.
            Requires the project to use the **auto-sync** data versioning option.
          items:
            type: array
            items:
              type: string
            minItems: 2
            maxItems: 2
          example:
          - - category
            - Finance
          - - region
            - EMEA
        status:
          type: string
          enum:
          - active
          - deleting
          - deleted
          description: Document deletion status
    DocumentMinimal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Document filename
        content_type:
          type: string
          description: MIME type of the document
        page_count:
          type: integer
          nullable: true
          description: Number of pages in the document
        file_size:
          type: integer
          nullable: true
          description: File size in bytes
        metadata:
          type: array
          description: |
            List of key-value metadata pairs. Each element is a two-element array `[key, value]`.
          items:
            type: array
            items:
              type: string
            minItems: 2
            maxItems: 2
        status:
          type: string
          enum:
          - active
          - deleting
          - deleted
          description: Document deletion status
    SignalStatus:
      type: string
      enum:
      - to_review
      - reviewed
      description: |
        - `to_review`: Signal pending review (default)
        - `reviewed`: Signal has been reviewed
    Signal:
      type: object
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        given_by:
          type: object
          description: User who submitted the signal
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
              format: email
        status:
          $ref: '#/components/schemas/SignalStatus'
        feedback:
          type: string
          description: Signal text comment
        context:
          type: object
          additionalProperties: true
          description: Free-form context, echoed back as submitted at creation
          properties:
            additional_details:
              type: string
              description: Extra context provided alongside the signal
        is_positive:
          type: boolean
          nullable: true
          description: |
            - `true`: Positive signal
            - `false`: Negative signal
            - `null`: Neutral
        user_message:
          type: string
          description: The user message that was responded to (computed field)
        conversation_title:
          type: string
          description: Title of the conversation (computed field)
        suggested_action_type:
          type: string
          nullable: true
          description: Auto-generated suggested action type
        suggested_action_data:
          type: object
          description: Auto-generated suggested action data
    ChatMessage:
      type: object
      description: |
        A message in the conversation. The `query_id` groups all messages from a
        single user interaction (user message, assistant response, tool calls).
      properties:
        role:
          type: string
          enum:
          - user
          - assistant
        content:
          type: string
        type:
          type: string
          enum:
          - message
          - tool_call
          - reasoning_flow
        query_id:
          type: integer
        timestamp:
          type: string
          format: date-time
        tool_type:
          type: string
          description: Type of tool (only for tool_call messages).
        input_parameters:
          type: object
          description: Tool input parameters (only for tool_call messages).
        results:
          type: array
          items: {}
          description: Tool results (only for tool_call messages).
    Conversation:
      type: object
      description: A conversation with its complete chat history.
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        type:
          type: string
        created_by:
          type: string
          format: uuid
        chat_history:
          type: array
          items:
            $ref: '#/components/schemas/ChatMessage'
        agent_settings:
          type: string
          format: uuid
          nullable: true
        agent_settings_name:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        tags:
          type: array
          items:
            type: string
        is_shared:
          type: boolean
        is_archived:
          type: boolean
        archived_at:
          type: string
          format: date-time
          nullable: true
  responses:
    BadRequest:
      description: Bad request - invalid parameters or request body
      content:
        application/json:
          schema:
            oneOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/ValidationError'
    Unauthorized:
      description: Unauthorized - missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Authentication credentials were not provided.
    Forbidden:
      description: Forbidden - insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: You do not have permission to perform this action.
    NotFound:
      description: Not found - resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: Not found.
